// 추가 스타일
.oauth-btn {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  border-radius: 6px;
  padding: 10px 0;
  border: none;
}

.btn-google {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  color: #333;
}
.btn-google:hover {
  background-color: #f9fafb;
}

.btn-naver {
  background-color: #03c75a;
  color: #fff;
}
.btn-naver:hover {
  background-color: #02b350;
}

.btn-kakao {
  background-color: #fee500;
  color: #3c1e1e;
}
.btn-kakao:hover {
  background-color: #fdd835;
}




.bd-callout-info {
    --bd-callout-color: var(--bs-info-text-emphasis);
    --bd-callout-bg: var(--bs-info-bg-subtle);
    --bd-callout-border: var(--bs-info-border-subtle);
}

.bd-callout {
    --bs-link-color-rgb: var(--bd-callout-link);
    --bs-code-color: var(--bd-callout-code-color);
    padding: 1.25rem; 
    // margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: .25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
 
//  bg custom 추가
.bg-primary2 {
    background-color: #4e73df !important;
}

.bg-success2 {
    background-color: #1cc88a !important;
}

.bg-info2 {
    background-color: #36b9cc !important;
}

.bg-warning2 {
    background-color: #f6c23e !important;
}

.bg-danger2 {
    background-color: #e74a3b !important;
}

.bg-secondary2 {
    background-color: #858796 !important;
}

.bg-light2 {
    background-color: #f8f9fc !important;
}

.bg-dark2 {
    background-color: #5a5c69 !important;
}

.text-primary2 {
    color: #4e73df !important;
}
 